# Groq API
GROQ_API_KEY=your_groq_api_key_here

# Model
LLM_PROVIDER=groq
GROQ_MODEL=llama-3.3-70b-versatile

# SQL Server
SQL_SERVER=localhost\SQLEXPRESS
SQL_DATABASE=DataWareHouse
SQL_TRUSTED_CONNECTION=yes
